#nav_links {
    text-align: center;
    position: absolute;
    top: 104px;
    right: 8.5%;
    z-index: 1000;
    padding-block: 1rem;
    background-color: var(--clr-dark-blue);
    transform: translateX(300%);
    transition: all 250ms ease-out;
    min-width: 223px;
    max-width: 412px;
}

#nav_links[data-visible=true] {
    transform: translateX(0%);
}

nav > ul > li {
    padding: 1rem;
}

nav > ul > li > a {
    font-family: var(--ff-sans-serif);
    font-size: 12px;
    line-height: 14.1px;
    letter-spacing: 2px;
    color: white;
}

.active {
    color: var(--clr-slightly-desaturated-cyan);
}




@media only screen and (min-width: 768px) {
    #nav_links {
        position: relative;
        top: 0;
        right: 0;
        padding-block: 0;
        background: none;
        transform: none;
        transition: none;
        min-width: 0px;
        width: 49.25%;
    }

    #nav_links[data-visible=true] {
        transform: none;
    }

    nav>ul {
        display: flex;
        justify-content: space-between;
    }

    nav > ul > li {
        font-family: var(--ff-sans-serif);
        font-size: 12px;
        line-height: 14.1px;
        letter-spacing: 2px;
        padding: 0
    }

    nav > ul > li > a {
        color: var(--clr-dark-blue);
    }
}