.footerContainer {
    background-color: var(--clr-greyish-dark-blue);
}

.footerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 56px;
    gap: 40px;
    padding-inline: 8.5%;
}

.footerLogo {
    filter: brightness(1000%);
}

.footerNav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footerNav > a {
    font-family: var(--ff-sans-serif);
    font-size: 12px;
    line-height: 14.1px;
    letter-spacing: 2px;
    color: white;
}

.footerNav > a:not(:last-child) {
    padding-bottom: 32px;
}

.socialMediaIcons {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.socialMediaIcon {
    filter: brightness(1000%);
}

@media only screen and (min-width: 768px) {
    .footerContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footerWrapper {
        display: grid;
        grid-template-columns: 61px 1fr 104px;
        justify-content: space-between;
        padding-inline: 5.143229%;
        padding-block: 24px;
        width: 100%;
        max-width: 1111px;
    }

    .footerNav {
        flex-direction: row;
        justify-content: flex-start;

    }

    .footerNav > a:not(:last-child) {
        padding-bottom: 0;
        padding-right: 42px;
    }

    .footerNav {
        flex-grow: 1;
    }
}