.projectHeroDetailImage > img {
    max-width: 100%;
}
#projectTags, #languageTags {
    color: var(--clr-slightly-desaturated-cyan);
    font-size: 13px;
}

.projectPreviewImage > img {
    width: 100%;
}

.tagsContainer {
    padding-bottom: 24px;
}

#projectDetailInfo {
    margin-bottom: 48px;
}

.projectBackground > p {
    padding-top: 24px;
}

.staticPreviews > h3 {
    padding-block: 40px;
}

.projectPreviewImage > img {
    padding-bottom: 32px;
}

@media only screen and (min-width: 768px) {
    .projectDetailContainer {
        margin-top: 96px;
    }

    .projectHeroDetailImage > img {
        margin-bottom: 40px;
    }

    #projectDetailInfo > h1 {grid-area: title;}
    #projectDetailInfo > p {grid-area: description;}
    #projectDetailInfo > .tagsContainer {grid-area: tags;}
    #projectDetailInfo > Link {grid-area: button;}

    #projectDetailInfo {
        display: grid;
        grid-template-areas: 
            "title description"
            "tags description"
            "button description";
        grid-template-columns: 0.490fr 0.492fr;
        align-items: flex-start;
        margin-bottom: 0;
    }

    #projectDescription {
        padding: 0;
    }

    .tagsContainer {
        margin-block: 16px;
        padding: 0;
    }

    .projectBackground {
        margin-top: 40px;
    }
}

@media only screen and (min-width: 1440px) {
    .projectHeroDetailImage > img {
        margin-bottom: 115px;
    }

    #projectDetailInfo {
        display: block;
        padding-block: 48px;
    }

    .projectInfoWrapper {grid-area: info;}
    .projectBackground {grid-area: projectbackground;}
    .staticPreviews {grid-area: previews;}

    .projectContainer {
        display: grid;
        grid-template-areas:
            "info projectbackground"
            "info previews";
        grid-template-columns: 0.315fr 0.571fr;
        justify-content: space-between;
    }

    .projectBackground {
        margin-top: 0;
    }
}