@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans&display=swap');

:root {
    --ff-sans-serif: 'Public Sans', sans-serif;
    --ff-serif: 'Ibarra Real Nova', serif;

    --fw-regular-400: 400;
    --fw-bold-700: 700;

    --fs-xxlarge-50: 50px;
    --fs-xlarge-40: 40px;
    --fs-large-32: 32px;
    --fs-regular-16: 16px;
    --fs-small-15: 15px;

    --lh-xxlarge-50: 50px;
    --lh-xlarge-42: 42px;
    --lh-large-36: 36px;
    --lh-regular-30: 30px;

    --ls-xxsmall: -0.45px;
    --ls-xsmall: -0.36px;
    --ls-small: -0.29px;

    --clr-slightly-desaturated-cyan: hsl(167, 36%, 54%);
    --clr-dark-blue: hsl(205, 41%, 21%);
    --clr-greyish-dark-blue: hsl(245, 10%, 22%);
    --clr-very-light-grey: hsl(0, 0%, 98%);
    --clr-light-grey: hsl(240, 2%, 92%);
    --clr-bright-red: hsl(0, 90%, 57%);
}

.sr_only {display: none;}

* {
    margin: 0;
    padding: 0;
}

.pageContainer {
    width: 83%;
    max-width: 1111px;
    margin-inline: auto;
}

h1, h2, h3, .body1, .body2 {
    color: var(--clr-greyish-dark-blue);
}

h1, h2, h3 {
    font-family: var(--ff-serif);
}

.body1, .body2 {
    font-family: var(--ff-sans-serif);
    line-height: var(--lh-regular-30);
}

h1, h2 {
    font-weight: var(--fw-bold-700);
}

h3, .body1, .body2 {
    font-weight: var(--fw-regular-400);
}

h1, h2 {
    font-size: var(--fs-xlarge-40);
    line-height: var(--lh-xlarge-42);
    letter-spacing: var(--ls-xsmall);
}

h3 {
    font-size: var(--fs-large-32);
    line-height: var(--lh-large-36);
    letter-spacing: var(--ls-small);
}

.body1 {
    font-size: var(--fs-regular-16);
}

.body2 {
    font-size: var(--fs-small-15);
}

.simpleLink {
    width: fit-content;
    font-family: var(--ff-sans-serif);
    font-size: 12px;
    padding-inline: 32px;
    padding-block: 16px;
    border-radius: 0;
    border: solid 1px var(--clr-greyish-dark-blue);
    background: none;
    letter-spacing: 2px;
    transition: all 35ms ease-in;
}

.simpleLink:hover {
    background-color: var(--clr-greyish-dark-blue);
    color: white;
}

@media only screen and (min-width: 1440px) {
    h1 {
        font-size: var(--fs-xxlarge-50);
        line-height: var(--lh-xxlarge-50);
        letter-spacing: var(--ls-xxsmall);
    }
}

@media only screen and (min-width: 768px) {
    .pageContainer {
        width: 89.713542%
    }
}