.aboutMeContainer {
    display: flex;
}

.aboutMeHeadshot {
    background-image: url("../../assets/images/homepage/desktop/image-homepage-profile@2x.jpg");
    background-size: cover;
    height: 600px;
    width: 48%;
}

.aboutMeSection {
    width: 32%;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
}